
:root{
    --cor-principal: rgb(0, 183, 255);
}

body{
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255, 255, 255, 0.459)),url("https://static.vecteezy.com/system/resources/previews/002/202/047/original/blue-high-tech-futuristic-cyberspace-technology-background-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



header{
    background-color: var(--cor-principal);
    padding-top: 15px;
    padding-bottom: 15px;
}

.inicio{
    margin-top: 50px;
    margin-left: 80px;
    button{
        background-color: var(--cor-principal);
        border-color: var(--cor-principal);
        padding: 10px 20px;
        margin: 5px;
        color: #fff;
        border-radius: 10px;
    }
}

.carrousel{ 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    img{

        height: 450px;
        width: 450px;
        margin: 10px;
    }
}

footer{
    text-align: center;
    background-color: var(--cor-principal);
}